
{% extends 'base.html' %}
{% block body %}
    {% for item in comapany_review %}
    <div class="container">
        <div class="row">
 
            <div class="col-6 border rounded m-4 p-2">
            <h3 style="text-transform: uppercase; font-size:20px; text-decoration:underline;">{{item.name}}</h3>
             <p>{{item.address}}</p>
             <p>{{item.category}}</p>
             <p>$ <span><b>{{item.net_worth}}</b></span></p>
            </div>
        </div>
    </div>
    {% endfor %}
   <div class="container">
       <div class="row">
        
        <div class="col-6">
            {% for review in reviews %}
            <div class="review-heading border">
             <a class="text-capitalize"><li class="far fa-user mr-1">{{review.user}}</li></a>
             <a class="ml-2"><li class="far fa-clock mr-1">{{review.create_at}}</li></a>
             <p>{{review.company}}</p>
             <p class="">{{review.comment}}</p>
             <p>{{review.rate}}</p>
             <td><a href="/delete/{{review.id}}"><button class="btn btn-small btn-danger" value="delete" title="Delete">🗑️</button></a></td>
             
         </div>
         {% endfor %}
        </div>
         
             
        <div class="col-6">
            <form method="GET" action="/review_rate">
                {% for prod in comapany_review %}
                <input type="hidden" name="prod_id" id="prod_id" value="{{prod.id}}">
                {% endfor %}
                <div class="form-group">
                  <label for="comment">Review Text</label>
                  <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="Rating">Rating</label>
                    <select class="form-control" id="rate" name="rate">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                    </select>
                  </div>
                  {% if user.is_authenticated %}
                  <button type="submit" class="btn btn-success">Submit</button>
                  {% else %}
                  <p>You must be logged in to post a review</p>
                  {% endif %}
              </form>
           </div>
       </div>
   </div>
    
{% endblock body %}
